/*{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
*{
	outline: 1px solid red !important;
}*/
body{
	font-family:'Lato',sans-serif;
}
.row{
	display:flex;
	flex-wrap: wrap;
	
}

